// Campus 
color: 'var(--color-orange-43, #886E53)', fontSize: 45, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 54, wordWrap: 'break-word'
---
// Events
color: 'var(--color-azure-30, #0C4D8B)', fontSize: 45, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 54, wordWrap: 'break-word'
---
// Two-day MDP on Supply<br/>Chain Analytics
color: 'var(--color-black-solid, black)', fontSize: 17, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// 12 Mar - 13 Mar
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// 09:00 AM - 05:00 AM
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Bangalore Central<br/>Campus
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Mar 12 2026
color: 'var(--color-white-solid, white)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Online Public Lecture
color: 'var(--color-black-solid, black)', fontSize: 17, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// 02 Mar
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// 05:00 AM - 06:30 AM
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Bangalore Central<br/>Campus
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Mar 02 2026
color: 'var(--color-white-solid, white)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Expert Session on The Art of<br/>Global Luxury Event<br/>Management
color: 'var(--color-black-solid, black)', fontSize: 17, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// 02 Mar
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// 08:00 AM - 09:00 AM
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Bangalore Central<br/>Campus
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Mar 02 2026
color: 'var(--color-white-solid, white)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// View All Events
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '400', lineHeight: 24, wordWrap: 'break-word'