// Resource 
color: 'var(--color-orange-43, #886E53)', fontSize: 45, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 54, wordWrap: 'break-word'
---
// Facilities
color: 'var(--color-azure-30, #0C4D8B)', fontSize: 45, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 54, wordWrap: 'break-word'
---
// Journals
color: 'var(--color-black-solid, black)', fontSize: 18, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Learning Environmen
color: 'var(--color-black-solid, black)', fontSize: 18, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Hostel and Dinin
color: 'var(--color-black-solid, black)', fontSize: 18, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Research Facilitie
color: 'var(--color-black-solid, black)', fontSize: 18, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Newsletters
color: 'var(--color-black-solid, black)', fontSize: 18, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Accolade Chronicles
color: 'var(--color-black-solid, black)', fontSize: 18, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Library
color: 'var(--color-black-solid, black)', fontSize: 18, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Magazines
color: 'var(--color-black-solid, black)', fontSize: 18, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 28, wordWrap: 'break-word'
---
// Careers 
color: 'var(--color-white-solid, white)', fontSize: 19, fontFamily: 'Heebo', fontWeight: '400', lineHeight: 28.50, wordWrap: 'break-word'
---
// (Job Openings) 
color: 'var(--color-white-solid, white)', fontSize: 16.60, fontFamily: 'Heebo', fontWeight: '400', lineHeight: 24.94, wordWrap: 'break-word'
---
// Campus 
color: 'var(--color-orange-43, #886E53)', fontSize: 45, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 54, wordWrap: 'break-word'
---
// News
color: 'var(--color-azure-30, #0C4D8B)', fontSize: 45, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 54, wordWrap: 'break-word'
---
// Call for Field Investigator Position in ICSSR<br/>Funded Project
color: 'var(--color-black-solid, black)', fontSize: 17, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 33, wordWrap: 'break-word'
---
// Call for Field Investigator Position in ICSSR<br/>Funded Project
color: 'var(--color-grey-40, #666666)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 30, wordWrap: 'break-word'
---
// Call for Field Investigator Position in ICSSR<br/>Funded Project
color: 'var(--color-black-solid, black)', fontSize: 17, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 33, wordWrap: 'break-word'
---
// Call for Field Investigator Position in ICSSR<br/>Funded Project
color: 'var(--color-grey-40, #666666)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '300', lineHeight: 30, wordWrap: 'break-word'
---
// View All
color: 'var(--color-black-solid, black)', fontSize: 16, fontFamily: 'Heebo', fontWeight: '400', lineHeight: 24, wordWrap: 'break-word'